<div class="row">
    <div class="col-md-12">
        <h2 class="page-title">Charts</h2>
    </div>
</div>


<div class="row">
    <div class="col-md-8">
        <section class="widget">
            <header>
                <h4>
                    <i class="fa fa-money"></i>
                    Stats
                </h4>
            </header>
            <div class="body no-margin line-chart-widget-body">
                <nvd3-line-chart
                        showlegend="true"
                        data="chartData "
                        id="visits-chart"
                        showXAxis="true"
                        showYAxis="true"
                        tooltips="true"
                        interactive="true"
                        margin="{top: 0, bottom: 25, left: 40, right: 25}"
                        xaxisshowmaxmin="false"
                        yaxisshowmaxmin="false"
                        xAxisTickFormat="xAxisTickFormatFunction()"
                        forcey="[]"
                        >
                    <svg></svg>
                </nvd3-line-chart>
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <section class="widget">
            <div class="body centred-text">
                <h1><b>${{ lastBtcLog.last }} <small>{{ currencyPair.name }}</small></b></h1>
                <p>ask: <b class="ask">{{ lastBtcLog.ask }}</b> bid: <b class="bid">{{ lastBtcLog.bid }}</b></p>
            </div>
            
            <div class="row" ng-controller="DashboardCtrl">
                <div class="col-md-2 col-md-offset-4">
                    <div class="btn-group center-block">
                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-original-title="" title="" >{{ currencyPair.name }} <i class="fa fa-caret-down"></i></button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="currency in currencyPairs" ng-click="sayHello()"><a href="#">{{currency.name}}</a></li>
                        </ul>
                    </div>                    
                </div>
            </div>
<!-- 
            <select ng-model="currencyPair" ng-options="c.name for c in currencyPairs">
            </select>
 -->
        </section>

        <section class="widget large">
            <header>
                <h4>
                    <i class="eicon-share"></i>
                    Stat feed
                </h4>
            </header>
            <div class="body">
                <div id="feed" class="feed">
                    <div class="wrapper">
                        <section class="feed-item" ng-repeat="btcLog in btcLogsConverted | reverse">
                            <div class="icon pull-left">
                                <i class="fa fa-money"></i>
                            </div>
                            <div class="feed-item-body">
                                <div class="text">
                                    <small>ask: {{ btcLog.ask }}, bid: {{ btcLog.bid}}</small>
                                </div>
                                <div class="time pull-left">
                                    {{ btcLog.date | date:'medium' }}
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>