<div class="row">
    <div class="col-md-12">
        <h2 class="page-title">Dashboard <small>Bitcoin price checker in <b>mBTC</b></small></h2>
    </div>
</div>


<div class="row">
    <div class="col-md-8">
        <section class="widget">
            <header>
                <h4>
                    <i class="fa fa-money"></i>
                    Stats
                </h4>
            </header>
            <div class="body no-margin" style="height: 295px;">
                <nvd3-line-chart
                        showlegend="true"
                        data="chartData "
                        id="exampleId"
                        showXAxis="true"
                        showYAxis="true"
                        tooltips="true"
                        interactive="true"
                        margin="{left:70,top:50,bottom:50,right:50}"
                        xAxisTickFormat="xAxisTickFormatFunction()"
                        >
                    <svg></svg>
                </nvd3-line-chart>
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <section class="widget large">
            <header>
                <h4>
                    <i class="eicon-share"></i>
                    Stat feed
                </h4>
            </header>
            <div class="body">
                <div id="feed" class="feed" style="overflow-y: scroll">
                    <div class="wrapper">
                        <section class="feed-item" ng-repeat="btcLog in btcLogs">
                            <div class="icon pull-left">
                                <i class="fa fa-money"></i>
                            </div>
                            <div class="feed-item-body">
                                <div class="text">
                                    Average: <b>{{ btcLog.24h_avg }}</b> <br />
                                    <small>ask: {{ btcLog.ask }}, bid: {{ btcLog.bid}}</small>
                                </div>
                                <div class="time pull-left">
                                    {{ btcLog.date | date:'medium' }}
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>